extend ../layout

block active_menu
    - var menu = {category: 'oferta', option: 'oferta_precios'}

block content_header
    h1 Actualizar Precios
    ol.breadcrumb
        li
            a(href=siteUrl('admin/ofertas_precios')) Ofertas
        li.active Actualizar Precios

block content
    form(id="form" action=(siteUrl('admin/ofertas_precios')) method="GET")
        .row
            .col-sm-3
                label(for="sitio_id") Sitios *
                select.form-control(id="sitio_id" name="sitio_id")
                    option
                    each sitio in sitios
                        option(value=sitio._id selected=(sitio._id == sitio_id))= sitio.nombre

            .col-sm-3
                label(for="categoria") Categorias
                select.form-control(id="categoria" name="categoria")
                    each categoria in categorias
                        option(value=categoria.slug selected=(categoria.slug == categoria_ref))= categoria.nombre
            .col-sm-6.text-right
                br
                button.btn.btn-primary
                    i.fa.fa-search

    br
    .box.box-primary
        .box-body
            table.display.responsive.nowrap(style="width:100%")
                thead
                    tr
                        th Descripcion
                        th Actualizado
                        th Precio
                        th Precio Original
                        th Envio Original
                        th
                tbody
                    each oferta in ofertas
                        tr
                            td(style="white-space: normal !important;")
                                a(href=oferta.url target="_BLANK")= oferta.descripcion
                            td(id=('oferta_up_' + oferta._id))= date.format(oferta.updated, 'DD/MM/YYYY HH:mm:ss')

                            td.text-success
                                span= PAIS_DEFECTO.moneda_simbolo + ' '
                                span(id=('oferta_precio_' + oferta._id))= oferta.precio.toFixed(2) + ' - ' + oferta.costo_envio.toFixed(2)

                            td
                                .input-group
                                    span.input-group-addon= oferta.currency_original
                                    input.form-control.oferta-precio(type="number" id=('oferta_' + oferta._id),
                                    value=oferta.precio_original style="min-width: 120px;"
                                    min="0" step="0.01" data-id=oferta._id data-currency=oferta.currency_original)

                            td
                                .input-group
                                    span.input-group-addon= oferta.currency_original
                                    input.form-control.oferta-precio(type="number" id=('oferta_envio_' + oferta._id),
                                    value=oferta.costo_envio_original style="min-width: 120px;"
                                    min="0" step="0.01" data-id=oferta._id data-currency=oferta.currency_original)

                            td.action-table
                                - var cl = 'btn-warning'

                                if(oferta.indexado == 0 && oferta.status == 0)
                                    - cl = 'btn-danger'

                                if(oferta.indexado == 1 && oferta.status == 1)
                                    - cl = 'btn-success'
                                button.btn.btn-sm.btn-action-table(onclick="detalles('" + oferta._id + "')",
                                type="button" class=cl)
                                    span.glyphicon.glyphicon-list



            if(ofertas.length == 0 && sitio_id == '')
                h4.text-center.text-warning Debe seleccionar al menos un sitio
    .modal.fade(id="detalles_modal" tabindex='1' role='dialog')

block content_css
    link(href=siteUrl("bower_components/datatables/media/css/jquery.dataTables.min.css") rel='stylesheet' type='text/css')
    link(href=siteUrl("bower_components/datatables/media/css/dataTables.bootstrap.min.css") rel='stylesheet' type='text/css')
    link(href=siteUrl("responsive_datatable/responsive.dataTables.min.css") rel='stylesheet' type='text/css')
    style
        div.container { max-width: 1200px }

block content_js
    script(src=siteUrl("bower_components/datatables/media/js/jquery.dataTables.min.js") type='text/javascript')
    script(src=siteUrl("bower_components/datatables/media/js/dataTables.bootstrap.min.js") type='text/javascript')
    script(src=siteUrl("responsive_datatable/dataTables.responsive.min.js") type='text/javascript')
    script
        include index.js