if(categorias)
    .card.mb-2.border-info.mb-4
        h5.h5.card-header.p-2 Categorías
        .list-group(role="tablist")
            each categoria in categorias
                a.list-group-item.list-group-item-action(href=siteUrl('c/' + categoria._id.slug))
                    .row.align-items-center
                        .col-4.text-center
                            img(src=siteUrl('images/categorias/' + categoria._id.slug + '.jpg') style="width: 50px;")
                        .col-8
                            h5.h5.text-primary(style="font-size: 1rem;")= categoria._id.nombre
                            small.text-muted= categoria.count + ' Productos'


.card.mb-2.border-info
    h5.h5.card-header.bg-info.text-primary.p-2 Precio
        if(query.precio.length > 0)
            span.badge.badge-secondary.badge-pill.ml-1=  query.precio.length
    .list-group.filter-panel(role="tablist")
        each precio in precios
            a.list-group-item.list-group-item-action.list-group-item-info.filter-precio(href="#",
            data-precio=precio._id class=(query.precio.indexOf(precio._id) != -1 ? 'active' : ''))
                - var p = precio._id.split('-')
                if(p[0] == 0)
                    span= 'menor que ' + PAIS_DEFECTO.moneda_simbolo + ' ' + p[1]
                else if(p[1] == 0)
                    span= 'mayor que ' + PAIS_DEFECTO.moneda_simbolo + ' ' + p[0]
                else
                    span= 'de ' + PAIS_DEFECTO.moneda_simbolo + ' ' + p[0] + ' a ' + PAIS_DEFECTO.moneda_simbolo + ' ' + p[1]


if(marcas.length > 0)
    .card.mb-2.border-info
        h5.h5.card-header.bg-info.text-primary.p-2 Marcas
            if(query.marca.length > 0)
                span.badge.badge-secondary.badge-pill.ml-1=  query.marca.length
        .list-group.filter-panel(role="tablist")
            each marca in marcas
                a.list-group-item.list-group-item-action.list-group-item-info.filter-marca(href="#",
                data-marca=marca._id class=(query.marca.indexOf(marca._id) != -1 ? 'active' : ''))
                    span= marca._id